* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'DM Sans', Arial, sans-serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 5px;
}

.header {
	height: 120px;
	padding-top: 40px;
}
.site-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-nav__link {
	text-decoration: none;
	color: #222;
}
.site-nav__logo {
	font-size: 24px;
	font-weight: 700;
}
.site-nav__list {
	width: 40%;
	display: flex;
	list-style: none;
	justify-content: space-between;
}
.site-nav__item {
	margin: 0 20px;
}
.site-nav__item--link {
	font-weight: 400;
	font-size: 16px;
}
.site-nav__item--active {
	color: blueviolet;
}
.site-nav__subscription {
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site-nav__subscription--link {
	font-size: 16px;
}
.btn {
	padding: 12px 24px;
	border-radius: 4px;
	background-color: #086cf9;
	color: #fff;
}


.main-img img {
width: 1200px;
}

.block--text{
	width: 419px;
	text-align: center;
	margin-left: 400px;
}
.element-btn button{
	padding: 12px 30px;
	color: #fff;
	background: #086CF9;

}
