* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "DM Sans", Arial, sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
/* .container-flex{
  margin: 0 auto;
  width: 900px;
  
} */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  
  height: 120px;
  padding-top: 40px;
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 144px;
  margin-right: 144px;
}
.site-nav__link {
  text-decoration: none;
  color: #222;
}
.site-nav__logo {
  font-size: 24px;
  font-weight: 700;
}
.site-nav__list {
  width: 40%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.site-nav__item {
  margin: 0 20px;
}
.site-nav__item--link {
  font-weight: 400;
  font-size: 16px;
}
.site-nav__item--active {
  color: blueviolet;
}
.site-nav__subscription {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav__subscription--link {
  font-size: 16px;
  padding-right: 48px;
}
.btn {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #086cf9;
  color: #fff;
}
.hero-container{
width: 1520px;
margin: 0 auto;
}
.hero {
  width: 1520px;

  /* width: 1520px; */
  margin: 0 auto;
  height: 740px;
  background-image:  url(./img/main-bg.jpg );
  background-repeat: no-repeat;
  background-size: cover;
}
/* .hero-bottom{

margin: 0 auto;
} */
.hero-container {
  
position: relative;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero--heading {
  font-size: 56px;
  color: #fff;
}
.hero--text {
  font-size: 16px;
  width: 867px;
  color: #fff;
}
.hero--link {
  margin-top: 20px;
  padding: 16px 30px;
  background-color: #086cf9;
  color: #fff;
  border-radius: 4px;
}
.hero--link:hover {
  color: black;
  background-color: rgb(36, 0, 128);
}

.hero-bottom {
  height: 150px;
  background-color: #fff;
  margin-top: -75px;
  display: flex;
  justify-content: space-around;
  /* box-shadow: 5px 5px 5px 2px rgba(8, 1, 1, 0.167); */
  
  
}
.hero--wrap {
  width: 220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.hero--wrap img {
  margin: 20px;
}
.hero--bottom__list span {
  font-size: 36px;
  font-weight: 700;
}
.hero--bottom__list p {
  font-size: 16px;
  font-weight: 400;
  color: #086cf9;
}
.team--link {
  margin-top: 20px;
  padding: 16px 30px;
  background-color: #086cf9;
  color: #fff;
  border-radius: 4px;
}
.team--link:hover {
  color: black;
  background-color: rgb(36, 0, 128);
}
.team__container .container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.flex {
  position: relative;
  background-color: #fff;
  right: 10px;
  bottom: 90px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0px 11px 35px #efefef;
}
.team__inner {
  width: 600px;
}
.team__heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.team__text {
  font-size: 16px;
}
.team__text-two {
  font-size: 20px;
}
.about__items {
  padding: 50px;
  text-align: center;
}
.about__item--heading {
  font-size: 48px;
  font-weight: 700;
}
.about__item--text {
  font-size: 16px;
  font-weight: 400;
}
.about .container {
  display: flex;
  justify-content: space-between;
}

.about__card {
  text-align: center;
  width: 200px;
  padding-bottom: 50px;
}

.courses {
  background: #ecf4ff;
}
.text {
  width: 670px;
  margin: 0 auto;
  text-align: center;
}

.courses__inner {
  display: flex;
  flex-wrap: wrap;
}
.courses__item {
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}
.courses__item--heading {
  font-size: 48px;
  font-weight: 700;
}
.courses__item--text {

  font-size: 16px;
  font-weight: 400;
  width: 550px;
  margin: 20px auto;
}
.courses__inner--card {
  width: 370px;
  margin: 10px;
  background-color: #fff;
  border-radius: 6px;
}
.card-container {
  padding: 25px;
}
.courses__inner--status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.courses__curs {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.course__span {
  color: #086cf9;
  font-style: 24px;
  font-weight: 700;
}
.courses__link {
  margin: 40px;

  margin-left: 500px;
  padding: 16px 30px;
  background-color: #086cf9;
  color: #fff;
  border-radius: 4px;
}
.mentor__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mentor__containers {
  background: #efefef;
}
.mentor__item {
  padding-top: 60px;
  padding-bottom: 60px;
}
.mentor__item--heading {
  font-size: 48px;
  font-weight: 700;
}
.mentor__item--text {
  margin: 50px;
  font-size: 16px;
  font-weight: 400;
}
.mentor__container {
  
  box-shadow: 2px 2px 5px 5px #efefef;
}
.mentor__container img{
width: 100%;
}

.mentor__inner--heading {
  font-size: 24px;
  font-weight: 700;
}
.mentor__inner--text {
  font-size: 16px;
  font-weight: 400;
}

.mentor__courses {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.mentor--content{
margin: 20px;
}

.mentor__courses p {
  margin-left: 10px;
  margin-right: 10px;
}

.mentor-courses--item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.mentor__inner--card {
  margin-bottom: 20px;
  margin-top: 6px;
  width: 390px;
  background-color: #fff;
}

.even__inner {
  display: flex;
  gap: 10px;
}

.even__courses {

  display: flex;
  justify-content: space-evenly;
  align-self: center;
}
.even-courses--item{
display: flex;
justify-content: space-between;
gap: 10px;
}
.even__img {
  position: relative;
}
.box {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 50px;
  background-color: #086cf9;
  border-radius: 6px;
}
.box p {
  text-align: center;
}

.even__item {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}
.even__item--heading {
  font-size: 48px;
  font-weight: 700;
}
.even__item--text {
  width: 500px;
  margin: 10px;
  margin-left: 350px;
  font-size: 16px;
  font-weight: 400;
}

.table {
  background: #d3e5fe;
}

.table__items {
  height: 247px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.table__item--span {
  font-size: 48px;
  font-weight: 700;
}
.table__item--text {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  text-align: center;
}

.block__item {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}
.block__item--heading {
  font-size: 48px;
  font-weight: 700;
}
.block__item--text {
  width: 500px;
  margin: 10px;
  margin-left: 350px;
  font-size: 16px;
  font-weight: 400;
}
.block__inners--container {
  padding: 20px;
}
.block__inners {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.block__inner--heading {
  font-weight: 500;
  font-size: 20px;
}
/* .block__inners-card{
  padding: 10px;
  } */
.block__inners__link {
  color: #086cf9;
}
.block__btn {
  margin-left: 550px;
  padding: 15px 20px;
  background: #086cf9;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.card--list {
  width: 700px;
  margin: 50px auto;
  text-align: center;
}
.card__list--heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card__list--title {
  font-size: 16px;
  font-weight: 400;
}
.card__item--box {
  display: flex;
}

.card__items {
  margin-right: 20px;
  border-radius: 6px;
  box-shadow: 0px 13px 45px rgba(0, 0, 0, 0.08);
}

.card__box-container {
  padding: 20px;
}
.card__box--text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.card__box-container img {
  margin-right: 20px;
}
.card__box--heading {
  font-size: 20px;
  font-weight: 500;
  margin: 20px;
  margin-top: 10px;
}
.card__box--title {
  margin: 20px;
  font-size: 14px;
  font-weight: 400;
}
.card__items-img{
display: flex;
align-items: center;
margin: 10px;
}
.card__items-img :hover{
color: #086cf9;
}
.card__item--flex {
  display: flex;

  align-items: center;
}
.order--list {
  color: #fff;
  width: 700px;
  margin: 50px auto;
  text-align: center;
}
.order__list--heading {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.order__list--title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.order {
  margin: 20px;
  padding: 20px;
  background: #086cf9;
  /* height: 300px; */
}
.order__input {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 680px;
  height: 63px;
  border-radius: 6px;
  margin: 10px;
  padding: 10px;
}
.order--email {
  border: none;
  list-style: none;
  outline-style: none;
}

.order--btn {
  color: #fff;
  padding: 10px 25px;
  background-color: #086cf9;
  border: none;
  border-radius: 6px;
}
.footer {
  background: #d3e5fe;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.end-flex {
  width: 600px;
  padding: 20px;
}
.footer__heading {

  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
}
.end-flex ul li {
  font-weight: 400;
  font-size: 16px;
}
.fa-solid {
  margin-right: 10px;
}
.footer--link {
  margin-bottom: 10px;
}
.footer__ContactUs--box {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer__div a {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__education--box{
margin-top: 60px;
}
.footer__-Feature-Links--box h3{
margin-bottom: 60px;
}
.footer__Support--box{
margin-top: 25px;
}
.footer__ContactUs--box{
margin-top: 16px;
}
.footer__img img{
  font-size: 20px;
margin-right: 8px;
}
.footer__heading2{
margin-top: 10px;
}

